<% provide(:title, "Help")%>
<h1 class="text-center">Sample App</h1>
<p class="text-center">
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
