<footer class="footer">
  <div class="container text-center">
    <ul class="footer-list">
      <li class="footer-list-item">
        <%= link_to "Home", home_path, class: "footer-list-link" %>
      </li>
      <li class="footer-list-item">
        <%= link_to "About", about_path, class: "footer-list-link" %>
      </li>
    </ul>
  </div>
</footer>
